body { width: 100%; }

/*set placeholder values and colors*/
.header, .footer { background-color: lightgrey; }

.header, .main, .footer { width: 100%; }
.main {padding-bottom: 2.5rem;}
/*set the positions of header and footer*/
.header {
    position: sticky;
    top: 0;
    height: 3rem;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
}

/*align header items*/
.header {
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.header nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.imageContainer, .imageSection { position: relative; display: inline-block; }
.imageContainer img, .imageSection img {
    display: block;
    max-height: 35rem;
    border-radius: 1rem;
}
/*position credits in bottom right corner*/
.creditText {
    position: absolute;
    bottom: 0; right: 0;
    color: #e2e2e2;
    text-decoration: none;
    border-top-left-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 0.8rem;
    z-index: 5;
}

/*center welcome image*/
.mainWelcome {
    display: grid;
    justify-content: center;
    padding: 1rem;
    background-color: #333333;
}

/*center menu header*/
.mainMenu header {
    display: flex;
    justify-content: center;

    background-color: #5b746b;
}
.mainMenu header nav {
    display: flex;
    gap: 10px;
    padding: 10px;
}

/*style menu*/
.menuContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 2rem;
}


.foodContainer {
    background-color: gray;
    padding: 0.3rem;
}
.foodContainer .title {
    font-size: 1.5rem;
    font-weight: 600;
}
.foodContainer .description {
    font-size: 1rem;
    font-weight: 600;
}

.imageSection img {
    max-height: 300px;
}

.imageSection {
    display: grid;
    place-content: center center;
}