:root {
    --primary-accent: #d9b061;
    --secondary-accent: #d9c4a9;
    --background: #d8d0c5;
    --heavy-brown: #8d6f57;
    --accent: #3f0d0c;
}

body { 
    width: 100%; 
    background-color: var(--background);
}

.header p, .footer p {
    color: var(--primary-accent);
}

/*set colors*/
.header, .footer { 
    background-color: var(--accent); 
}
.mainWelcome { background-color: var(--heavy-brown); }

.foodContainer { background-color: var(--heavy-brown);}

.header, .main, .footer { width: 100%; }
.main {padding-bottom: 2.5rem;}
/*set the positions of header and footer*/
.header {
    position: sticky;
    top: 0;
    height: 3rem;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 1.5rem;
}

/*align header items*/
.header {
    display: flex;
    justify-content: space-between;
}
.header nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.imageContainer, .imageSection { position: relative; display: inline-block; }
.mainWelcome .imageContainer img {
    display: block;
    max-height: 35rem;
    border-radius: 1rem;
}
/*position credits in bottom right corner*/
.creditText {
    position: absolute;
    bottom: 0; right: 0;
    color: #e2e2e2;
    text-decoration: none;
    border-top-left-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 0.8rem;
    z-index: 1;
}
.header, .footer { z-index: 2; }

/*center welcome image*/
.mainWelcome {
    display: grid;
    justify-content: center;
    padding: 1rem;
}

/*center menu header*/
.mainMenu header {
    display: flex;
    justify-content: center;
}
.mainMenu header nav {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

/*style menu*/
.menuContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 2rem;
}


.foodContainer {
    padding: 0.3rem;
    border-radius: 10px;
    color: var(--accent);
}
.foodContainer .title {
    font-size: 1.4rem;
    font-weight: 500;
}
.foodContainer .description {
    font-size: 1rem;
    font-weight: 400;
}

.imageSection img {
    max-height: 300px;
    border-radius: 10px;
}

.imageSection {
    display: grid;
    place-content: center center;
}

button {
    border-style: solid;
    border-color: var(--heavy-brown);
    background-color: var(--accent);
    color: var(--primary-accent);
    border-radius: 10px;

    padding: 0.7rem;
}
button { transition: 0.05s; }
button:hover { transform: scale(1.1); }
button:active { transform: scale(1.05); }

.header button {
    padding: 0.5rem 1rem;  
}

.header {
    font-size: 0.8rem;
    font-weight: 500;
}
.header p {
    font-size: 1.3rem;
}