/*set placeholder values and colors*/
.header, .footer { background-color: lightgreen; }

.header, .main, .footer {
    width: 100%;
}
/*set the positions of header and footer*/
.header {
    position: sticky;
    top: 0;
    height: 3rem;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

/*align header items*/
.header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
